<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>Login</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/login.css') }}">

</head>

<body>
    <div class="alert alert-info" role="alert">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        <form class="form-signin" action="" method="post" novalidate>
            {{ form.csrf_token }}
            {{ form.username.label(class_="sr-only") }}
            <div class="input-group" id="form-div-user">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                {{ form.username(size=32, class_="form-control", placeholder="username", autofocus="autofocus") }}
            </div>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.password.label(class_="sr-only") }}
            <div class="input-group" id="form-div-password">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                {{ form.password(size=32, class_="form-control", placeholder="password") }}
            </div>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
    </div>

</body>

</html>